{% load static %}

<!DOCTYPE html>
<html>
<head>
  <title>GymApp - Personalized Training and Progress Tracking</title>
  <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}"/>
</head>
<body>
  <header>
    <div class="logo">GymApp</div>
    <nav>
      <ul>
        <li><a href="{% url 'home' %}">Home</a></li>
        <li><a href="#">Training Plans</a></li>
        <li><a href="#">Progress Tracking</a></li>
        <li><a href="#">Community</a></li>
        <li><a href="#">Contact</a></li>
      </ul>
    </nav>
  </header>
  
  <div class="content">
   

      {% block content %}

      {% endblock content %}
    
  </div>

  <footer>
    <p>&copy; 2023 GymApp. All rights reserved.</p>
  </footer>

  <script src="script.js"></script>
</body>
</html>
