{% load static %}

<!DOCTYPE html>
<html>
<head>
  <title>GymApp - Personalized Training and Progress Tracking</title>
  <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}"/>
</head>
<body>
  <header>
    <div class="logo">GymApp</div>
    <nav>
      {% include 'navbar.html' %}
    </nav>
  </header>
  
  <div class="content">


      {% block content %}

      {% endblock content %}
    
  </div>

  <footer>
    <p>&copy; 2023 GymApp. All rights reserved.</p>
  </footer>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="{% static 'js/script.js' %}"></script>
</body>
</html>
